<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="jumbotron">
    <h1 class="display-4">MY FRIEND IS SARA</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
      featured
      content or information.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem ipsum eos hic provident. Accusantium perferendis
      itaque minus magnam dignissimos sit assumenda qui sint possimus cum ab, ipsa amet ipsam, nisi doloribus tempora
      voluptas, vel autem sequi at id molestias. Fugiat quos amet cupiditate similique reprehenderit, alias deserunt
      quaerat nisi suscipit ad. Delectus vero harum facere error repudiandae libero consequuntur. Officia omnis soluta
      quisquam alias quae! Minus itaque repellendus culpa voluptate praesentium asperiores dolores expedita esse sunt
      totam porro, libero ab tempora? Optio nesciunt laudantium nam ut maxime similique, quasi sequi vero repudiandae
      cum quam quia magnam possimus repellendus alias ipsa pariatur velit necessitatibus delectus qui consectetur! Ex
      excepturi aut facere vero consequuntur, fugiat voluptates voluptatibus illo exercitationem eaque deleniti nisi
      ipsam labore sequi natus ea provident ratione officiis quisquam neque, similique iusto! Similique laudantium
      obcaecati ipsam culpa voluptates, ab omnis vel? At, consequuntur expedita eligendi sunt repudiandae quis
      aspernatur quaerat non quas illo voluptatem atque error quam alias nihil veritatis asperiores explicabo, et,
      dignissimos nisi itaque praesentium ullam maiores pariatur! Iste, deserunt quis aliquid, eum molestiae ullam sint
      quae nam, velit necessitatibus numquam aut officia tempora harum sunt voluptatem unde animi iusto dolores adipisci
      quas accusamus veniam. Consequuntur rem aspernatur quibusdam ipsam saepe recusandae. Maxime, quae ipsam at error
      soluta, sunt illum consequatur dolorem alias ratione velit, perferendis deleniti quasi! Voluptatum saepe
      necessitatibus, explicabo ab labore omnis! Unde dolore temporibus dicta itaque voluptate rerum ducimus quibusdam
      alias sapiente voluptas esse quis vitae officia autem vel accusamus libero ullam saepe, architecto, enim fugiat
      odio assumenda. Dolorum natus quidem, provident eaque eligendi quam porro non est harum eum repellat quas, eveniet
      pariatur sequi. Quod, optio, aliquam nisi vitae et quaerat eius quis porro ipsum aliquid nostrum facere cumque
      ullam explicabo perspiciatis molestiae enim illum. Qui voluptatibus fugit placeat perspiciatis exercitationem,
      accusantium vero necessitatibus vel itaque tempora ratione repudiandae voluptates dolores ducimus impedit
      cupiditate molestias vitae nihil velit! Dicta a, tempora qui unde quam laboriosam laudantium earum! Harum qui
      cumque placeat tempora voluptatibus cupiditate accusantium debitis veritatis exercitationem ab ducimus suscipit,
      quidem iure explicabo earum repellendus similique. Aspernatur fugit mollitia ipsa asperiores quod, temporibus
      explicabo culpa libero praesentium, repellendus quia itaque animi iste molestias eius ratione dolorum amet magni
      nisi veniam possimus! Nisi nulla accusamus atque nobis consectetur fuga corrupti vitae itaque. In?.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</body>

</html>